@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

:root {
  --primary-color: rgb(85, 85, 16);
}

body {
  font-family: "Baloo Bhai 2";
  min-width: 100vw;
  background-image: linear-gradient(45deg, #c9b065, #8f971e );

}


header{
  background-color: #F2C94C;
  color: black;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: auto;
  padding: 1rem;
  text-align: center;
}

/* Container */
.container {
  margin: 2rem auto 3rem;
  text-align: center;
}


.description {
  font-size: larger;
  margin: 1rem;
}

.input-label {
  display: block;
  font-size: large;
  font-weight: 600;
}

.input {
  font-size: 14px;
  outline: #fff;
  padding: 0.6rem 1rem;
  margin: 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 258px;
}

#check-button {
  background: var(--primary-color);
  border: none;
  color: #fff;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-size: large;
  cursor: pointer;
  outline: #fff;
  margin: auto;
  display: block;
}

#error-message {
  display: block;
  font-size: 2rem;
  margin: 1rem 0 0;
  font-weight: 600
  ;
}

/* Table */
.change-table {
  width: 50%;
  text-align: justify;
  border-collapse: collapse;
  margin: auto;
}

.change-table caption {
  margin: 1rem auto;
  font-size: x-large;
  font-weight: 500;
}

th,
td {
  border: 2px solid var(--primary-color);
  width: 0%;
  border-collapse: collapse;
  padding: 0.4rem;
}

/* footer */

/* Footer */

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F2C94C;
}
footer a{
  font-size: 1.5rem;
  color: rgb(5, 1, 12);
  padding: 0.5rem;
  /* margin-right: 1rem; */

}

footer a:not(:last-child){
  margin-right: 1rem;
}

footer p{
  margin-top: 1rem;
}

